body {font-family: 'Roboto', sans-serif;}
h1,h2,h3,h4,h5,h6 {
    letter-spacing: 5px;
}

a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.title {
    font-size: 24px;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

ul {
    list-style-type: none;
    padding-right: 20px;
}

li {
    display: inline;
}